---
layout: default
title: 首页
---

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <h2>{{ post.title }}</h2>
      <div class="post-meta">
        <time>{{ post.date | date: "%Y 年 %m 月 %d 日" }}</time>
        {% if post.categories.size > 0 %}
        <span class="inline-tags">
          {% for cat in post.categories %}
          <span class="inline-tag">{{ cat }}</span>
          {% endfor %}
        </span>
        {% endif %}
      </div>
      {% if post.excerpt %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 150 }}</p>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
